params {
    fastq_dir = "raw"
    ref       = "ref/ecoli.fa"
    output    = "results"

    FASTQC    = "/home/vaidi/miniconda3/envs/bnf/bin/fastqc"
    FASTP     = "/home/vaidi/miniconda3/envs/bnf/bin/fastp"
    BWA       = "/home/vaidi/miniconda3/envs/bnf/bin/bwa-mem2"
    SAMTOOLS  = "/home/vaidi/miniconda3/envs/bnf/bin/samtools"
    BCFTOOLS  = "/home/vaidi/miniconda3/envs/bnf/bin/bcftools"
}

process {
    executor = 'local'
}

